@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 196 59% 7%;
    --foreground: 34 11% 95%;
    --card: 196 50% 10%;
    --card-foreground: 34 11% 95%;
    --popover: 196 50% 10%;
    --popover-foreground: 34 11% 95%;
    --primary: 190 35% 37%;
    --primary-foreground: 34 11% 95%;
    --secondary: 34 11% 77%;
    --secondary-foreground: 196 59% 7%;
    --muted: 196 30% 15%;
    --muted-foreground: 34 5% 70%;
    --accent: 34 11% 77%;
    --accent-foreground: 196 59% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 196 30% 15%;
    --input: 196 30% 15%;
    --ring: 190 35% 37%;
    --radius: 1rem;
  }

  .dark {
    --background: 196 59% 7%;
    --foreground: 34 11% 95%;
    --card: 196 50% 10%;
    --card-foreground: 34 11% 95%;
    --popover: 196 50% 10%;
    --popover-foreground: 34 11% 95%;
    --primary: 190 35% 37%;
    --primary-foreground: 34 11% 95%;
    --secondary: 34 11% 77%;
    --secondary-foreground: 196 59% 7%;
    --muted: 196 30% 15%;
    --muted-foreground: 34 5% 70%;
    --accent: 34 11% 77%;
    --accent-foreground: 196 59% 7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 196 30% 15%;
    --input: 196 30% 15%;
    --ring: 190 35% 37%;
  }
}

@layer base {
  html {
    font-size: 14px;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold tracking-tight;
  }
}

@layer utilities {
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.glass {
  @apply bg-card/60 backdrop-blur-md border border-white/10;
}
